<ion-view view-title="Help">
  <ion-content>
	<p>Recommended tip amounts for good service:</p>
	<div class="row"><div class="col">Waiter</div><div class="col">20%</div></div>
	<div class="row"><div class="col">Food Delivery</div><div class="col">10%</div></div>
	<div class="row"><div class="col">Taxi</div><div class="col">15%</div></div>
	<div class="row"><div class="col">Hairdresser</div><div class="col">20%</div></div>
	<div class="row"><div class="col">Nails</div><div class="col">15%</div></div>
	
    <p>Depending on the tipping situation, you can choose to tip on the total (post-tax) or the subtotal (pre-tax). See the settings tab to choose how to tip.</p>
  </ion-content>
</ion-view>
