<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
     <label class="item item-input item-select">
		<div class="input-label">
		  Tip On
		</div>
		<select ng-model="tipon" ng-change="SetTipOn(tipon)">
		  <option>Total</option>
		  <option>Subtotal</option>
		</select>
	  </label>
    </ion-list>
  </ion-content>
</ion-view>
