<ion-view view-title="Tip Calculator">
  <ion-content class="padding">
	<div ng-show="tipon == 'Total'" class="list">
	  <label class="item item-input">
		<span class="input-label">Total</span>
		<input type="number" ng-model="subtotal">
	  </label>
	  <label class="item item-input">
		<span class="input-label">Tip</span><span style="font-size: 14px; width: 30px;">{{tip}}%</span>
	  <div style="float: right; border:none; margin: 0 0 0 20px; padding: 0 0 0 0;" class="item range range-positive">
		<input style="margin: 0 0 0 0; padding: 0 0 0 0;" type="range" name="tip" min="1" max="40" ng-model="tip">
	  </div>
	  </label>
	  <label class="item item-input">
		<span class="input-label">Total+Tip</span><span style="font-size: 14px">{{(subtotal + tip * subtotal / 100)|currency}}</span>
	  </label>
	  <label class="item item-input">
		<span class="input-label">Split</span><span style="font-size: 14px; width: 30px;">{{split}}</span>
	  <div style="float: right; border:none; margin: 0 0 0 20px; padding: 0 0 0 0;" class="item range range-positive">
		<input style="margin: 0 0 0 0; padding: 0 0 0 0;" type="range" name="split" min="1" max="20" ng-model="split">
	  </div>
	  </label>
	  <label class="item item-input">
		<span class="input-label" >Total/Person</span><span style="font-size: 14px">{{((subtotal + tip * subtotal / 100)/split)|currency}}</span>
	  </label>
    </div>
	<div ng-show="tipon == 'Subtotal'" class="list">
	  <label class="item item-input">
		<span class="input-label">Subtotal</span>
		<input type="number" ng-model="subtotal">
	  </label>
	  <label class="item item-input">
		<span class="input-label">Tax</span>
		<input type="number" ng-model="tax">
	  </label>
	  <label class="item item-input">
		<span class="input-label">Tip</span><span style="font-size: 14px; width: 30px;">{{tip}}%</span>
	  <div style="float: right; border:none; margin: 0 0 0 20px; padding: 0 0 0 0;" class="item range range-positive">
		<input style="margin: 0 0 0 0; padding: 0 0 0 0;" type="range" name="tip" min="1" max="40" ng-model="tip">
	  </div>
	  </label>
	  <label class="item item-input">
		<span class="input-label">Total+Tip</span><span style="font-size: 14px">{{(tax + subtotal + tip * subtotal / 100)|currency}}</span>
	  </label>
	  <label class="item item-input">
		<span class="input-label">Split</span><span style="font-size: 14px; width: 30px;">{{split}}</span>
	  <div style="float: right; border:none; margin: 0 0 0 20px; padding: 0 0 0 0;" class="item range range-positive">
		<input style="margin: 0 0 0 0; padding: 0 0 0 0;" type="range" name="split" min="1" max="20" ng-model="split">
	  </div>
	  </label>
	  <label class="item item-input">
		<span class="input-label">Total/Person</span><span style="font-size: 14px">{{((tax + subtotal + tip * subtotal / 100)/split)|currency}}</span>
	  </label>
    </div>
   </ion-content>
</ion-view>
